apiVersion: v1
kind: Pod
metadata:
  name: myapp-pod
  labels:
    app: myapp
spec:
  hostNetwork: true
  containers:
  - name: myapp-container
    image: myapp:latest
    imagePullPolicy: Never
    ports:
    - containerPort: 4444
